doctype html
html
  head
    title= title
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
  body
    #about-container
    h1= title
    script(src='bundle.js')
