doctype html
html
  head
    title= title
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
  body
    #react-container
    h1 Home Page
    script(src='bundle.js')
